@mixin circular-container($diameter)
	display: flex
	justify-content: center
	align-items: center
	border-radius: 50%
	width: $diameter
	height: $diameter

.radial-progress
	$color: rgb(160, 212, 104)
	$font-size: 120px
	$circle-size: 3 * $font-size
	$progress-size: 2.5 * $font-size
	$progress-width: $font-size / 6

	+circular-container($circle-size)
	font-size: 0
	background: $color

	.progress-bar
		&, > div
			+circular-container($progress-size)
			position: absolute
			clip: rect(0px, $progress-size / 2, $progress-size, 0)

		> div
			background: white

	span
		+circular-container($progress-size - $progress-width)
		background: $color
		color: white
		font-weight: bold
		font-family: sans-serif
		font-size: $font-size
		z-index: 1

@for $i from 0 through 100
	.radial-progress-value-#{$i} .progress-bar
		$angle: 180deg * (100 - $i) / 100

		+ .progress-bar
			transform: rotate(180deg + $angle)

		> div, + .progress-bar > div
			transform: rotate($angle)

// Page styles:

html, body, #root
	margin: 0
	height: 100%

.container
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-around
	height: 100%

	> input
		font-size: 10em
		width: 4em
		text-align: center
